.chat {
    background-color: #020202;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chat .div {
    background-color: #020202;
    height: 900px;
    position: relative;
    width: 1440px;
}

.chat .logo {
    height: 24px;
    left: 637px;
    position: absolute;
    top: 40px;
    width: 167px;
}

.chat .frame {
    height: 600px;
    left: 756px;
    position: absolute;
    top: 132px;
    width: 662px;
    overflow-y: auto;
}

yyyyyyy .chat .title {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    left: 71px;
    position: absolute;
    top: 17px;
}

.chat .text-wrapper {
    color: #ffffff80;
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.38px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.chat .p {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient( 180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 98.44%);
    background-clip: text;
    color: transparent;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.64px;
    line-height: 24px;
    position: relative;
    text-fill-color: transparent;
    width: 481px;
}

.chat .twitter {
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.chat .group {
    height: 56px;
}

.chat .group-wrapper {
    background-color: #ffffff14;
    border-radius: 82.35px;
    height: 56px;
    width: 56px;
}

.chat .overlap-group-wrapper {
    height: 56px;
    width: 58px;
}

.chat .overlap-group {
    background-color: #c8b6ff;
    border-radius: 82.35px;
    height: 56px;
    position: relative;
    width: 56px;
}

.chat .text-wrapper-2 {
    color: var(--neutralswhite);
    font-family: "SF Pro Display-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    height: 33px;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
}

.chat .frame-wrapper {
    background-color: #191919;
    border-radius: 10px;
    height: 166px;
    left: 732px;
    position: absolute;
    top: 574px;
    width: 576px;
}

.chat .frame-2 {
    height: 118px;
    left: 24px;
    position: relative;
    top: 24px;
    width: 522px;
}

.chat .text-wrapper-3 {
    color: #b6fbff;
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.38px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.chat .since-an-open-air {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient( 180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 98.44%);
    background-clip: text;
    color: transparent;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.64px;
    line-height: 24px;
    position: relative;
    text-fill-color: transparent;
    width: 451px;
}

.chat .group-2 {
    background-color: #b6fbff;
    border-radius: 82.35px;
    height: 56px;
}

.chat .overlap-wrapper {
    height: 903px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 610px;
}

.chat .overlap {
    background-color: #121212;
    height: 903px;
    position: relative;
    width: 608px;
}

.chat .arrows-diagrams {
    height: 24px;
    left: 132px;
    position: absolute;
    top: 40px;
    width: 24px;
}

.chat .overlap-2 {
    height: 834px;
    left: 0;
    position: absolute;
    top: 69px;
    width: 608px;
}

.chat .div-wrapper {
    height: 834px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 608px;
}

.chat .overlap-3 {
    height: 4251px;
    left: -1885px;
    position: relative;
    width: 4511px;
}

.chat .group-3 {
    height: 4251px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 4511px;
}

.chat .overlap-group-2 {
    height: 4002px;
    left: 509px;
    position: relative;
    top: 249px;
    width: 4002px;
}

.chat .eclipse {
    height: 367px;
    left: 1376px;
    position: absolute;
    top: 219px;
    width: 608px;
}

.chat .eclipse-2 {
    background-color: #ffffff03;
    border-radius: 1533.43px;
    box-shadow: inset 0px 21.57px 164.22px #ffffff52;
    height: 3067px;
    left: 468px;
    position: absolute;
    top: 468px;
    transform: rotate(67.67deg);
    width: 3067px;
}

.chat .img {
    height: 637px;
    left: 1885px;
    position: absolute;
    top: 197px;
    width: 608px;
}

.chat .frame-3 {
    height: 191px;
    left: 148px;
    position: absolute;
    top: 160px;
    width: 313px;
}

.chat .group-4 {
    height: 47px;
    left: 0;
    position: absolute;
    top: 47px;
    width: 313px;
}

.chat .AI-chatbot-wrapper {
    height: 47px;
    position: relative;
    width: 315px;
}

.chat .AI-chatbot {
    color: transparent;
    font-family: "SF Pro Display-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 47px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 313px;
}

.chat .span {
    color: #b6fbff;
}

.chat .text-wrapper-4 {
    color: #ffffff;
}

.chat .group-5 {
    height: 84px;
    left: 6px;
    position: absolute;
    top: 107px;
    width: 303px;
}

.chat .text-wrapper-5 {
    color: #ffffffb2;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.72px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 301px;
}

.chat .text-wrapper-6 {
    color: #b6fbff;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 172px;
    letter-spacing: 0.72px;
    line-height: 23px;
    position: absolute;
    top: 40px;
    white-space: nowrap;
}

.chat .frame-4 {
    background-color: #ffffff0f;
    border: 0.97px solid;
    border-color: #b6fbff;
    border-radius: 100px;
    height: 80px;
    left: 732px;
    position: absolute;
    top: 780px;
    width: 577px;
}

.chat .components-button {
    height: 44px;
    left: 508px;
    position: absolute;
    top: 17px;
    width: 44px;
}

.chat .frame-5 {
    align-items: center;
    display: inline-flex;
    gap: 4px;
    left: 23px;
    position: absolute;
    top: 27px;
}

.chat .text-wrapper-7 {
    color: #ffffff;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.38px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.chat .line {
    height: 24px;
    margin-right: -1px;
    object-fit: cover;
    position: relative;
    width: 1px;
}

.message-input {
    display: flex;
    align-items: center;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 0.97px solid;
    border-radius: 100px;
    border-color: black;
    width: 456px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    position: absolute;
}

.send-button {
    background: none;
    border: none;
    cursor: pointer;
}

.send-button img {
    width: 24px;
    height: 24px;
}

.profile-image {
    width: 56px;
    /* Adjust the width as needed */
    height: 56px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* To make it circular */
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.user-info2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-family: "SF Pro Display-Semibold", Helvetica;
    color: #b6fbff;
    margin-top: 3px;
    text-align: left;
}


/* Mesaj kutuları için stiller */

.message-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    position: absolute;
}

.chat-log {
    display: flex;
    flex-direction: column-reverse;
    /* Baloncukları ters sırayla göstermek için */
    align-items: flex-start;
    /* Mesajları sola hizalayın */
    gap: 10px;
    /* Mesajlar arasında boşluk */
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    /* Mesaj baloncuklarının maksimum genişliği */
    word-wrap: break-word;
    /* Uzun kelimeleri sarma */
}

.user-message {
    background-color: black;
    /* Kullanıcı mesajlarının arka plan rengi */
    color: white;
    /* Kullanıcı mesajlarının metin rengi */
    align-self: flex-end;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.64px;
    line-height: 24px;
    position: relative;
    width: 481px;
}

.bot-message {
    background-color: #ffffff14;
    /* Bot mesajlarının arka plan rengi */
    color: white;
    /* Bot mesajlarının metin rengi */
    align-self: flex-start;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.64px;
    line-height: 24px;
    position: relative;
    width: 481px;
}

.chat .frame {
    height: 600px;
    left: 756px;
    position: absolute;
    top: 132px;
    width: 662px;
    overflow-y: auto;
}